html,
body {
  position: relative;
  margin: 0px auto;
  background-color: #333333;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  max-width: 800px;
  font-size: 16px;
  line-height: 1.5em;
}

a,
a:visited {
  color: #99CCFF;
  text-decoration: none;
}

a:hover {
  color: #ff9900;
}

h3 {
  font-weight: 400;
  margin-top: 1.5em;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}

.widget {
  position: relative;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 260px;
  text-align: center;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), inset 0px 1px 2px rgba(0,0,0,0.25), 0px 1px 0px rgba(255,255,255,0.1);
  border-radius: 5px;
  background-color: #2A292A;
}

.links {
  text-align: center;
}

#ratingWidget {
  position: relative;
  padding: 31.5px 0;
}
.ratingStar {
  font-size: 1.5em;
  margin: 0px 1px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.ratingStar.fail {
  color:#F44 !important;
  transition:color .3s;
}
.ratingStar.fall:after {
  content:'★';
  font-size: 1em;
  opacity:0;
  border-radius:100%;
  position:absolute;
  left:0;
  animation-name: starFall;
  animation-duration: .3s;
}
@keyframes starFall {
    0%   {z-index:3;opacity:0;font-size:3em;top:1px;left:-.33em;}
    25%  {background-color: rgba(255,245,90,.2);}
    75%  {opacity:1;}
    99%  {opacity:0;font-size:1em;top:2px;left:0;}
    100% {z-index:-1;}
}

#clear {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 4px;
  opacity: 0;
  cursor: pointer;

  position: absolute;
  top: 29px;
  left: 67px; /*moves to L:45px*/
  z-index: 0;
  transition: left .2s ease-in;
}
#clear.show {
  z-index: 1;
  opacity: 1;
  left: 41px;
}
#clearTip {
  /*tooltip*/
  display:none;
  font-weight:normal;
  line-height:1.2em;
  text-align: left;
  white-space: nowrap;
  background-color: #2A292A;
  color: white;
  padding: 6px 8px;
  border: 1px solid #777;
  border-radius: 6px;
  
  position: absolute;
  top: -3px;
  left: 1.35em; 
}
#clearTip:before, #ratingText.fail:before{
  /*tooltip tab-arrow*/
  content:'';
  width: 12px;
  height: 12px;
  border: 1px solid #777;
  border-top: none;
  border-right: none;
  background-color: #2A292A;
  transform: rotate(45deg);

  position: absolute;
  top: 10px;
  left: -7px;
}
#clear.show:hover {
  z-index: 3;
  color: #F44;
}
#clear.show:hover #clearTip {display: block;}

#ratingText {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  transition: top .3s;
}
#ratingText a {display: block;}
#ratingText.fail {
  border: 1px solid #777;
  background-color: #2A292A;
  padding: 9px;
  border-radius: 6px;
  width: 160px;
  margin: 0 auto;
}
#ratingText.fail:before {
  transform: rotate(135deg);
  top: -7px;
  left: 30px;
}

#clear.show:hover + #ratingText {display:none;}