@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@font-face {font-family:'ninebit';src:local('ninebit'), url(ninebit.ttf) format('truetype');}
a {cursor:pointer;}
html, body {position:absolute;top:0;right:0;bottom:0;left:0;margin:0 auto;padding:0;font-family:'Open Sans', sans-serif;font-size:12pt;}
#container, #portfolio a, #skillsmenu, img, #showcase, #about .text.hide > p, #about .text > a, #UX article nav {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

.content {width:100%;margin:auto;}
header h1, header h3 {text-align:center;margin-top:0;color:#FFF;letter-spacing:1px;}
header h1 {font-size:48pt;margin-bottom:15px;}
header h1 span {font-size:150%;padding:0 15px;display:none;}
header h3 {font-style:italic;font-weight:normal;font-size:24pt;}
header h3 span {padding:0 8px;font-style:normal;} header h3 span:nth-of-type(2) {padding:0 4px;}
header {padding:140px 0 115px;background:url(images/pikeplace.jpg) center center no-repeat #FF7D6A;background-size:auto 500px;background-blend-mode:multiply;}
header .fa {font-size:90%;}

#container, #mainNav {margin:0;padding:0;height:46px;}
#container, #mainNav, #nav {background-color:white;}
#nav a {background-color:white;position:relative;z-index:10;}
#mainNav {padding:0;top:0;z-index:10;display:block;margin:0 auto;width:100%;}
#mainNav.snap {position:fixed;}
#mainNav a {display:block;width:100%;font-size:14pt;text-align:center;padding:12px 0 8px;font-weight:lighter;}
#mainNav a:hover, #mainNav #collapse {color:#FF7D6A;}
#nav {display:none;}

#portfolio-top {max-width:1600px;margin:0 auto;}
#portfolio-top a {display:inline-block;width:16%;padding:14px 4% 22px;border:#4B4A50 4px double;border-radius:16px;vertical-align:middle;margin:15px 1.5% 50px;position:relative;text-align:justify;}
#portfolio-top a:hover {border-color:#FF7D85;}
#portfolio-top a:hover:after {display:none;}
#portfolio-top a:after {border:1px white dashed;width:100%;height:100%;position:absolute;top:-1px;left:-1px;border-radius:16px;display:block;content:'';}
#portfolio-top a span {font-size:20px;display:block;line-height:10px;margin:0 auto;font-weight:normal;}
#portfolio-top h3 {font-size:50px;margin:.5em 0;text-align:center;}
#UX-link h3 {letter-spacing:22px;padding-left:15px;}
#UX-link h3 span {letter-spacing:4px;margin-left:-7px;}
#FED-link h3 {letter-spacing:22px;padding-left:22px;}
#FED-link h3 span {letter-spacing:1px;margin-left:-21px;}
#PRINT-link h3 {letter-spacing:-2px;}
#PRINT-link h3 span {letter-spacing:13px;padding-left:14px;}
#portfolio-top p {margin:10px 0 10px;padding:0;}

#portfolio {background-color:#4B4A50;padding:0;text-align:center;color:#fff;}
#portfolio section {padding-top:1em;}
#portfolio h1 {border-bottom:4px solid #FF7D6A;font-weight:lighter;font-size:30pt;width:300px;margin:.5em auto;}
#portfolio p {font-size:18px;margin:.5em 0 1em;}
#portfolio article {width:100%;max-width:1000px;margin:0 auto;}
#portfolio a {text-decoration:none;}
#portfolio ul {padding:0;width:100%;max-width:880px;margin:0 auto;}
#portfolio li {list-style-type:none;display:inline-block;width:32%;vertical-align:top;}
#portfolio li a {display:inline-block;position:relative;width:78%;height:160px;overflow:hidden;}
#portfolio li a span {background-color:rgba(255,125,133,.8);text-align:center;padding-top:50%;display:none;position:absolute;top:0;left:0;width:100%;height:100%;}
#portfolio li a:hover span {display:none;color:white;}
#portfolio li a img:first-of-type {width:160px;height:160px;max-width:100%;}
#portfolio i {width:20px;margin:-22px 0 0 -26px;}
#portfolio img {width:100%;height:auto;}
#portfolio li.off {display:none;}
#portfolio a:hover {color:#FF7D85;}
#portfolio .projectimg.hide {display:none;}
.mobile-instructions+span {display:none;}
#experience #showmore, #divider {background-color:white;color:#FF7D6A;text-align:center;display:block;padding:1em;font-size:14pt;}
#divider {cursor:default;}

#UX, #FED, #PRINT {display:none;}
#UX {background:url(images/blueprint.png) repeat #1B79B3;position:relative;}
#portfolio #UX h1 {border-color:#9DC7E1;border-bottom-width:3px;}
.portfolio-menu {padding:4px 8px;border-radius:6px;background-color:#FF7D85;color:black;transition:all .3s;border:1px solid #4B4A50;margin-bottom:30px;display:inline-block;}
#portfolio .portfolio-menu:hover {color:white;background-color:#4B4A50;border-color:white;}
#UX .portfolio-menu {background-color:#245675;color:white;border:1px solid white;}
#UX .portfolio-menu:hover {background-color:white;border-color:#245675;color:#245675;}

nav.subNav {width:auto;background-color:initial;padding:5px 0;}
nav.subNav a {padding:4px 8px;border-radius:6px;transition:all .3s;border:1px solid #9DC7E1;color:white;background-color:#1B79B3;vertical-align:top;display:inline-block;margin:0 2px;}
#UX nav.subNav a:hover, #UX nav.subNav a.ux-active {background-color:white;border-color:#245675;color:#245675;}
#UX .portfolio-menu {clear:left;}
#UX ol {padding:1em 0 0;margin:0;}
#UX ol li {margin:0 auto;width:100%;max-width:960px;text-align:right;vertical-align:middle;}
#UX article nav {clear:left;padding-top:1px;}
#UX article:not(.ux-active), #UX ol li:not(.selected) {display:none;}
#UX article img {width:90%;margin:0 auto 1em;display:block;border:2px solid white;}
#UX article ul {margin:0 auto .8em;}
#UX article ul li {width:initial;margin:10px;cursor:pointer;transition:opacity .3s;}
#UX article p.anecdote {font-style:italic;border-left:5px solid white;padding-left:14px;}
#UX article p i {width:inherit;margin:0;}
#UX article p a:hover {background-color:white;text-decoration:none;color:#1B79B3;}
#UX article blockquote {margin:0;font-size:18px;line-height:1.5em;border-left:5px solid white;padding:0 0 2px 14px;font-family:monospace;}
#UX article ul i {margin:2px 0 0;}
#UX article ul li.off {cursor:default;opacity:0;display:inline-block;}
#UX article ul a {font-family:monospace;background-color:#1B79B3;border-radius:30px;padding:6px 10px;border:2px solid white;color:white;height:initial;width:initial;}
#UX article li.selected p a:hover, #UX article li.selected a, #UX article li:hover a {color:#1B79B3;background-color:white;}
#UX article li.selected p a {color:inherit;width:inherit;height:inherit;font-style:normal;background-color:rgba(255, 255, 255, 0.25);padding:0 3px;border-radius:6px;}
#UX aside {width:90%;margin:0 auto;text-align:left;}
#UX aside h4 {text-align:center;font-size:22px;margin:1em 0 .5em;}

#FED {border:3px solid white;position:relative;background-color:#323232;border-radius:30px}
#FED > * {position:relative;z-index:5;}
#FED:after {content:'>_';font-size:28px;color:white;text-align:left;font-family:Arial,monospace;padding:8px 0 0 12px;font-weight:bold;display:block;position:absolute;top:0;right:0;bottom:0;left:0;border:6px solid black;border-radius:28px;z-index:2;}

#PRINT {position:relative;color:#4B4A50;background-color:white;border:2px dotted #AFAFAF;border-right:none;border-left:none;}
#PRINT ul {position:relative;z-index:5;}
.crop {position:absolute;width:40px;height:40px;border:2px solid #4B4A50;content:'';z-index:2;}
.crop:after {background-color:white;content:'';display:block;position:absolute;width:10px;height:10px;}
.tl{border-top:none;border-left:none;left:20px;top:40px;}
.tl:after{bottom:-3px;right:-3px;}
.tr{border-top:none;border-right:none;right:20px;top:40px;}
.tr:after{bottom:-3px;left:-3px;}
.br{border-bottom:none;border-right:none;right:20px;bottom:40px;}
.br:after{top:-3px;left:-3px;}
.bl{border-bottom:none;border-left:none;left:20px;bottom:40px;}
.bl:after{top:-3px;right:-3px;}

#about {background-color:#F5E6E3;color:#666;font-family:'Open Sans',sans-serif;text-align:left;position:relative;width:100%;margin:0;padding:0;}
#about div {width:auto;display:inline-block;margin:0;vertical-align:top;}
#about h1 {color:#444;font-size:26pt;border-bottom:4px solid #FF7D6A;width:220px;margin-top:8%;font-weight:lighter;}
#about a {color:#FF7D6A;text-decoration:none;font-weight:bold;display:inline-block;margin-bottom:40px;}
#about a:hover {color:#666;}
#about .text {padding-left:20px;padding-right:20px;position:relative;}
#about .text > p {max-width:800px;}/*color:#F5E6E3;color:inherit;*/
#about .contact {display:none;max-width:100%;position:absolute;bottom:80px;}
#about .contact a {color:#666;display:block;padding-left:55px;line-height:1.3em;position:relative;margin-top:50px;}
#about .contact a:hover {cursor:pointer;color:#FF7D6A;}
#about .contact a > i {position:absolute;left:0;top:0;padding:0 0 0 0;}
#about .contact span {position:absolute;left:45px;color:#999;bottom:-1.1em;display:none;}
#about img {float:right;display:none;z-index:2;position:relative;border-radius:1000px;max-width:80%;max-height:350px;width:auto;margin:10%;border:8px solid white;}
#about .img {width:39%;text-align:right;}
#about .img:before {display:none;content:"";position:absolute;top:0;bottom:0;left:0;width:39%;z-index:1;background-color:#FF7D6A;}
#about .inner-img {display:block;width:200px;height:200px;margin:2.5em 2% 2%;}

#star-box {position:relative;padding:40px 0 14px;font-size:16pt;background:url(images/stardust.png) #444349 repeat;color:#fff;text-align:center;font-family:'ninebit',cursive;position:relative;overflow:hidden;}
#star-box.fly {background:none;padding:0 0 10px;}
#display-font {width:86%;padding:0 7%;}
#star-box p {font-size:30px;line-height:48px;width:100%;max-width:920px;margin:0 auto;padding:25px 0;}
#star-box a, #starfield, #gamecanvas, #info {display:none;}

#skills, #goals {margin:0;padding:1em 0 2em;width:100%;text-align:center;color:white;background-color:#FF7D6A;}
#skills h1, #goals h1 {font-size:30pt;font-weight:lighter;color:#FF7D6A;background-color:white;width:89%;margin:.5em auto;border-radius:5px;position:relative;}
#skills h1 i {position:absolute;right:0;top:0;padding:7px 7px 8px;border-left:2px dashed #FF7D6A;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;}
#skills h1 i:hover {background-color:#F5E6E3;}
#skills h2, #goals h2 {font-weight:lighter;margin:0;padding:.2em;border:2px solid #F5E6E3;border-bottom:none;background-color:#F5E6E3;color:#F04F3D;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;}
#skills div, #goals div {width:100%;margin:.5em 0 1.5em;padding:0;display:block;}
#skills img {vertical-align:top;padding:10px 0 20px;}
#skills .chart, #goals .chart {display:inline-block;width:60%;margin-top:0;}
#skills .icons, #goals .icons {width:217px;height:124px;font-size:500%;display:inline-block;vertical-align:top;position:relative;}
#skills i, #goals i {padding-top:30px;}
#skills .expert.icons i, #goals .expert.icons i {padding-top:65px;}
#skills .expert.icons i:nth-of-type(3), #goals .expert.icons i:nth-of-type(3) {position:absolute;top:10px;left:50%;margin-left:-37px;padding-top:0;}
#skills ul, #goals ul {list-style:none;padding:0;margin:0;margin-top:0;border:2px solid #F5E6E3;border-top:none;}
#skills li, #goals li {padding:5px 20px;border-top:1px solid #F5E6E3;}
#skills .frequency {display:inline-block;}
#skills .frequency.hide {display:none;}
#skills .proficiency {display:inline-block;}
#skills .proficiency.hide {display:none;}

#goals {background-color:white;color:#FF7D6A;padding:1em 0;}
#goals h1 {color:#F04F3D;}
#goals .moved {font-weight:bold;color:#F04F3D;}

#experience, #education {margin:0;padding:0;width:100%;color:#444;}
#education {background-color:#F5E6E3;padding:1em 0 0;}
#experience div, #education div {width:80%;padding:0 10% 2em;}
#experience h1, #education h1 {text-align:center;border-bottom:4px solid #FF7D6A;font-weight:lighter;font-size:30pt;width:250px;margin:1em auto;}
#education h1 {width:100%;max-width:420px;}
#experience h2, #experience h3, #education h2, #education h3 {margin:.1em 0;font-size:18pt;}
#experience h2 > a, #education h2 > a {text-decoration:none;color:#444;position:relative;}
#experience h2 > a:hover, #education h2 > a:hover {color:#444;}
#experience h2 > a:after, #education h2 > a:after {font-family:FontAwesome;content:"\f0c1";margin-left:6px;}
#experience h2 > a:hover:after, #education h2 > a:hover:after {color:#FF7D6A;}
#experience h2 > a.external:after, #education h2 > a.external:after {font-family:FontAwesome;content:"\f08e";}
#experience h3, #education h3 {font-size:14pt;font-weight:normal;}
#experience ol, #education ol {padding:0;margin:.5em 0;list-style:none;display:block;vertical-align:top;position:relative;}
.date li {font-weight:lighter;background-color:#FF7D6A;margin:0 0 1px;padding:.5em;text-align:left;font-size:14pt;color:white;}
.date li:nth-of-type(2) {background-color:#4B4A50;}
#experience a, #education a {color:#FF7D6A;}
#experience a:hover, #education a:hover {color:#666;}
#experience i, #education i {right:1em;top:.6em;position:absolute;border-radius:100px;padding:12px 9px 6px;background-color:white;color:#FF7D6A;font-size:200%;}
#education i {border:1px solid #FF7D6A;padding:5px 4px 9px 7px;}
#education i.invert {top:.65em;border:1px solid white;}
#experience #showmore {background-color:#FF7D6A;color:white;}
#experience .hide {display:none;}

#showcase {display:none;position:fixed;top:0;right:0;bottom:0;left:0;background-color:#666;z-index:15;overflow:hidden;}
#closeshowcase {float:right;padding:10px;}
#browser {left:-220px;top:0;bottom:0;text-align:center;padding:10px;width:200px;position:absolute;overflow:scroll;color:white;background-color:#666;font-weight:normal;font-size:12pt;-webkit-border-top-left-radius:8px;-webkit-border-bottom-left-radius:8px;-moz-border-radius-topleft:8px;-moz-border-radius-bottomleft:8px;border-top-left-radius:8px;border-bottom-left-radius:8px;-webkit-transition:left .5s;transition:left .5s;}
#browser.open {left:0;z-index:15;}
#browser h4 {margin:0.4em 0 .2em;font-size:14pt;font-weight:normal;}
#browser ul {padding:0;margin:0;list-style:none;}
#browser a {max-height:100px;display:inline-block;overflow:hidden;border:4px solid #666;}
#browser a:hover, #browser a.active {border-color:white;}
#browser img {width:180px;height:auto;position:relative;}
#browser li {margin-bottom:10px;}
#overlay {display:block;position:absolute;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:0;transition:opacity .5s;z-index:0} /*overlay*/
#browser.open+#overlay {opacity:.2;z-index:1;} /*overlay VISIBLE*/
#feature {position:absolute;top:0;bottom:44px;right:0;left:0;padding-left:20px;color:white;text-shadow:-1px -1px #333,0 -1px #333,1px -1px #333,1px 0 #333,1px 1px #333,0 1px #333,-1px 1px #333,-1px 0 #333;letter-spacing:1px;background:url() no-repeat center;background-size:auto 100%;background-color:#333;}
#showcase .nav {position:absolute;bottom:0;left:0;right:0;}
#playbutton {margin-left:5px;border-radius:5px;padding:5px;background-color:#F5E6E3;color:#666;text-decoration:none;}
#prevproject, #nextproject {display:none;padding:5px;border-radius:5px;border:1px solid gray;bottom:5px;position:absolute;}
#prevproject:hover, #nextproject:hover, #playbutton:hover {background-color:#FF7D6A;color:white;}
#prevproject {left:5px;}
#nextproject {right:5px;}
#showcase .nav p {max-height:44px;background-color:white;padding:9px 0 10px;font-size:14pt;margin:0;left:0;right:0;bottom:0;text-align:center;position:absolute;display:inline-block;-webkit-border-bottom-right-radius:8px;-moz-border-radius-bottomright:8px;border-bottom-right-radius:8px;}
#tab, #expand{position:absolute;bottom:0;padding:10px;font-size:150%;}
#expand {right:0;}
#tab {left:0;-webkit-transition:left .5s;transition:left .5s;color:white;z-index:2;bottom:44px;font-size:14pt;text-shadow: -1px -1px #333, 0 -1px #333, 1px -1px #333, 1px 0 #333, 1px 1px #333, 0 1px #333, -1px 1px #333, -1px 0 #333;}
#tab.open {left:220px;}
#tab i {padding-left:8px;}
#tab span {font-size:90%;}

#contact {padding:0;font-size:16pt;}
#contact h1 {margin:0;padding:.5em 0;border-bottom:1px solid #666;color:#333;text-align:center;}
#contact p {display:block;margin:0;padding:0 5% 4px 5%;}
#contact p:nth-of-type(even) {border:1px solid #ddd;border-left:none;border-right:none;}
#contact i {font-size:28pt;padding:.2em 0;margin:0;}
#contact a {text-decoration:none;color:#666;width:24px;display:inline-block;border-right:1px dashed #666;text-align:right;margin-right:25px;padding:25px 30px 25px 0;}
#contact a:hover {color:#FF7D6A;}

footer {background-color:#333;padding:4em 0 1em;text-align:center;color:#fff;}
footer h1 {margin:.5em 0 1.5em;}
footer h3 {margin:6em 0 .3em;font-weight:normal;font-size:10pt;}
footer h3 i {color:#FF7D6A;}
footer h3 a {padding:0;font-size:10pt;display:inline;color:white;background-color:transparent;width:inherit;height:auto;border-radius:0;}
footer h3 a:hover {background-color:transparent;border-bottom:1px dotted white;}
footer article {width:100%;max-width:800px;display:inline-block;}
footer a {padding:5px;font-size:200%;text-decoration:none;display:inline-block;color:#333;background-color:white;width:46px;height:46px;border-radius:100px;}
footer ul {padding-left:0;margin:0 auto;display:block;}
footer li {list-style-type:none;margin:0 10px;display:inline-block;vertical-align:top;}
footer li .mix {position:relative;}
footer li .mix i {opacity:0;}
footer li .mix span {font-size:15pt;padding:7px 2px 8px;top:5px;left:5px;position:absolute;font-weight:bold;border-radius:100px;border:2px solid #333;display:block;}
footer li.off {display:none;vertical-align:top;}
footer a:hover {background-color:#000;color:white;}
footer li .mix:hover span {border-color:white;}
.fa-envelope {padding:6px 0 0 2px;} .fa-skype {padding:6px 0 0 2px;} .fa-steam, .fa-twitter {padding:6px 0 0 4px;} .fa-linkedin, .fa-jsfiddle, .fa-codepen {padding-top:6px;}

@media(min-width:650px){
	header {background-size:100% auto;}
	header h1 span {display:inline;}
	#portfolio li {margin:15px;width:auto;}
	#portfolio li a {width:inherit;height:auto;}
	#portfolio li a span {border-radius:100%;height:50%;}
	#portfolio li a:hover span {display:block;}
	#portfolio a img {border-radius:100%;width:inherit;border:6px solid #F5E6E3;max-width:inherit;}
	nav.subNav a {margin:0 15px;}
	#UX article ol {margin:1em 0 0;padding:1em 1em 0;}
	#UX article img {width:50%;float:left;margin:0;}
	#UX aside {width:45%;display:inline-block;}
	#UX aside h4 {margin:.5em 0 1em;}
	#UX article ul {margin-top:1.3em;}
	#demo-player footer {top:80%;}
	#PRINT a img {border:4px solid #4B4A50;}
	#about .text {padding-left:30px;padding-right:30px;}
	#about img, #about .img:before {display:block;}
	#about div {max-width:50%;}
	#about .inner-img {display:none;}
	#education h1 {width:450px;}
	#contact {font-size:22pt;}
	#contact p {padding-left:14%;}
	#contact a {width:114px;padding-right:50px;}
}
@media(min-width:760px){
	#mainNav #collapse {display:none;}
	#nav {display:block;}
	#container {padding-top:24px;height:5em;}
	#mainNav {text-align:center;font-size:14pt;padding:0;}
	#mainNav a {display:inline-block;margin:15px;padding:0;color:#333;font-size:inherit;width:inherit;}

	#star-box {padding:100px 0 84px;}
	#star-box p {font-size:48px;line-height:64px;}

	#experience div, #education div, #experience div > span {width:auto;padding-right:0;padding-bottom:4px;}
	#experience > span {display:block;margin:0;width:100%;}
	#experience ol, #education ol {display:inline-block;margin:.5em 30px 1em 0;width:130px;}
	.date li {text-align:right;}
	#experience i, #education i {right:-49.5px;top:2em;position:absolute;border-radius:100px;padding:8px 6px 4px;font-size:100%;border:1px dashed #999;}
	#education i {padding:4px 4px 6px 6px;right:-50px;top:.5em;}
	#education i.invert {border:1px dashed #999;}
	#experience .text, #education .text {display:inline-block;width:70%;border-left:1px dashed #999;padding:0 0 2em 30px;}

	footer a {font-size:250%;padding:15px;}
	footer li .mix span {font-size:18pt;padding:10px 6px 11px 5px;top:9px;left:8px;}
	.fa-envelope {padding:3px 3px 0;} .fa-skype {padding:3px 0 0 1px;} .fa-steam, .fa-twitter {padding:3px 0 0 4px;} .fa-linkedin, .fa-jsfiddle, .fa-codepen {padding-top:3px;}
}
@media(min-width:800px){
	#about .text {padding-left:45px;padding-right:35px;}
	#star-box a {color:white;text-decoration:none;display:inline;}
	#star-box a:hover {color:#70BCB8;}
	#starfield {z-index:-1;position:absolute;top:0;left:0;right:0;height:630px;display:block;}
	#gamecanvas {width:800px;height:506px;display:block;margin-left:auto;margin-right:auto;}
	#gamecanvas.hide, #display-font.hide, #info.hide, #starfield.hide {display:none;}
	#info {display:block;}
	#info p, #info a {width:800px;margin-left:auto;margin-right:auto;font-size:12px;line-height:1.5em;padding:5px 0;-webkit-user-select:none;user-select:none;}
	#showcase{top:2%;bottom:2%;left:2%;right:2%;box-shadow:0 0 50px 50px rgba(0,0,0,.9);border-radius:8px;}
	#prevproject, #nextproject {display:inline-block;}
	#browser {left:0;}
	#tab, #overlay, #browser.open+#overlay {display:none;}
	#feature, #showcase .nav {left:220px;}
	.mobile-instructions {display:none;}
	.mobile-instructions+span {display:inline;}
}
@media(min-width:820px){ #portfolio .a {display:inline-block;}}
@media(min-width:850px){
	#about .text {font-size:14pt;}
	#skills h2, #goals h2 {font-weight:lighter;margin:1em 0 0;border:3px solid #F5E6E3;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;}
	#skills div, #goals div {width:28%;margin:1%;padding:0;display:inline-block;vertical-align:top;}
	#skills img {padding:0 auto;}
	#skills .proficiency {width:21%}
	#skills .icons, #goals .icons {width:100%;}
	#skills .chart, #goals .chart {padding:0;display:inline-block;width:100%;}
	#skills .expert.icons i, #goals .expert.icons i {padding-top:55px;}
	#skills .expert.icons i:nth-of-type(3), #goals .expert.icons i:nth-of-type(3) {top:0;padding-top:0;}
	#experience div, #education div {padding:0 5% 4px 14%;width:80%;}
}
@media(min-width:1050px){ #portfolio ul {max-width:1000px;} #portfolio .a, #portfolio .b {display:inline-block;}}
@media(min-width:1100px){ #about .contact {bottom:85px;}}
@media(max-width:1199px){
	#portfolio-top a {width:80%;margin:10px auto;text-align:center;padding:8px;}
	#portfolio-top a:last-of-type {margin-bottom:30px;}
	#portfolio-top a h3 {font-size:50px;margin:0 0 20px;text-align:center;}
	#portfolio-top p {padding:0 15px;}
}
@media(max-width:600px){ header h1 {font-size:36pt;} #education i {top:-6px;border:5px solid #FF7D6A;} footer a {padding:0px;} footer li {margin:0;} footer li .mix span {font-size:12pt;padding:6px 2px 6px 2px;top:4px;left:4px;}
@media(max-width:554px){ #skills .expert, #goals .expert {height:148px;} #skills .expert.icons i, #goals .expert.icons i {padding-top:55px;} #skills .expert.icons i:nth-of-type(3), #goals .expert.icons i:nth-of-type(3) {top:0;padding-top:0;} #portfolio span {width:auto;height:auto;} #skills h1 span {padding-right:1.2em;}}