:root {
  --text:#2a2a2a;
  --text-med:#777;
  --text-faint:#b5b5b5;
  --text-ultra-faint:#d7d7d7;
  --bg:#fff;
  --bg-faint:#f3f3f3;
}
body {background-color:var(--bg);color:var(--text);font-family:'Raleway', sans-serif;font-variant-ligatures:common-ligatures;font-weight:300;font-size:17px;margin:0 auto;max-width:1200px;text-rendering:optimizeLegibility;}
h1, h2, h5 {font-variant-ligatures:discretionary-ligatures;font-weight:600;line-height:1.1em;margin-top:0;margin-bottom:0;}
a {color:var(--text);text-decoration:none;}
b {font-weight:700;}

html {width:100vw;overflow-x:hidden;}
.row {padding:40px 5vw;position:relative;}
@media screen and (min-width:1200px) {
	.row::before, .row::after {content:'';background-color:inherit;position:absolute;top:0;bottom:0;width:calc(50vw - 600px);right:100%;}
	.row::after {right:unset;left:100%;}
}

/* OVERVIEW */
#overview {padding-top:15vh;position:relative;}
#overview h1 {font-size:42px;letter-spacing:3px;line-height:0.8em;}
#overview h1 i {font-style:normal;letter-spacing:0;margin-left:-4px;}
#overview h1 span {color:var(--text-faint);display:block;font-size:36px;font-weight:600;letter-spacing:2.4px;line-height:0.9;margin-top:19px;}
#overview h3 {color:var(--text-med);font-size:1.1em;font-weight:300;letter-spacing:1.8px;margin-bottom:7vh;text-transform:uppercase;}
#overview h3 divider::before {content:',';}
#overview h3 divider:last-of-type::after {content:'& ';color:var(--text);}
#overview img {display:block;height:100%;margin:0 auto;opacity:.1;position:absolute;top:0;left:0;z-index:-1;}
@media screen and (min-width:375px) {
	#overview h1 {font-size:37px;line-height:inherit;}
	#overview h1 span {font-size:31.1px;height:1em;line-height:0.6;margin-top:-2px;overflow-y:hidden;}
	#overview h3 {letter-spacing:3.8px;}
}
@media screen and (min-width:500px) {
	#overview h1 {font-size:46px;}
	#overview h1 span {font-size:39px;}
	#overview img {left:unset;right:0;;
	/*#overview h3 divider::before {content:unset;}*/
	/*#overview h3 divider::after, #overview h3 divider:last-of-type::after {content:'• ';}*/
}
@media screen and (min-width:670px) {
	#overview h1 {font-size:60px;letter-spacing:4px;}
	#overview h1 i {font-style:normal;letter-spacing:0;margin-left:-4px;}
	#overview h1 span {color:var(--text-ultra-faint);font-size:42px;font-weight:700;height:1em;letter-spacing:8px;line-height:0.52em;margin-top:-15px;padding-left:1px;}
	#overview h3 {color:var(--text-med);font-weight:300;letter-spacing:4.57px;margin-top:-14px;margin-bottom:7vh;padding-left:23px;}
	#overview img {float:right;margin:-30px 0 0;max-width:270px;width:24vw;shape-outside:url(brian.png);height:unset;opacity:unset;position:unset;top:unset;right:unset;z-index:unset;}
}
@media screen and (min-width:768px) {
	#overview img {margin:calc(-100px - 5vw) 0 0;}
}
@media screen and (min-width:970px) {
	#overview img {margin-top:calc(-170px - 5vw);}
}

#overview bio {letter-spacing:1px;line-height:1.9em;}

#overview ul {margin-left:-15px;padding-left:0;}
#overview li {display:inline-block;padding:0 10px;position:relative;}
#overview li::before {content:'|';position:absolute;left:-5px;}
#overview li:first-of-type::before {content:unset;}
#overview a {border-radius:2px;color:var(--text);display:inline-block;letter-spacing:1px;padding:2px 5px;position:relative;}
#overview a:hover {background-color:var(--text);color:var(--bg);}

/* APPROACH */
approach {display:none;}

/* WORK */
@media screen and (min-width:670px) {
	#work .flex-grid {display:flex;flex-wrap:wrap;justify-content:space-between;}
	#work a {margin:2% 0;padding:15px;width:calc(48% - 30px);border:1px solid var(--text-ultra-faint);}
	#work img {display:block;margin:0;width:100%;}
	#work h4 {margin:1em 0 0;}
	#work p {margin:.3em 0 .6em;}
}
@media screen and (min-width:970px) {
	#work a {margin:2% 0;padding:15px;width:calc(31% - 30px);
}

/* FOOTER */
#footer {background-color:var(--bg-faint);}
#footer h5 {font-size:1.6em;}
#footer a {margin-right:20px;}
#footer a:hover {text-decoration:underline;}



@media (prefers-color-scheme:dark) {
:root {
  --text:#fff;
  --text-med:#bbb;
  --text-faint:#aaa;
  --text-ultra-faint:#444;
  --bg:#000;
  --bg-faint:#181818;
}
b {font-size:1.15em;line-height:1em;}
img.invert {filter:invert(100%) hue-rotate(192deg) saturate(55);}
}
